.main {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
    margin: 20px 0;
}

.textArea {
    display:flex;
    flex:1;
    flex-direction: column;
    margin: 5px;
}

.textArea textarea {
    height:400px;
    white-space:pre;
}

.buttons {
    display:flex;
    justify-content: center;
}

.buttons button {
    margin: 0 5px;
}

.footer {
    margin-top:2em;
    text-align:center;
}

@media only screen and (max-width:701px){
    .main {
        flex-direction:column;
    } 
}
